:root {    
    --font-family: 'Work Sans', sans-serif;
    --font-weight: 300;
    --font-size: 1rem;
}
body {
    
    
    --primary: #ffffff;
    --primary-hover: #4c214f;
    --primary-focus: rgba(218, 163, 213, 0.25);

    --h2-color: #fff;
}

*{
    scroll-behavior: smooth !important;
    }

p, h4 { --color: #fff;
    --font-family: 'Bitter', cursive;
}

h2 {
    --font-family: 'Bitter', cursive;
    --font-size: 1.8rem;
}
@media (min-width: 768px) {
    h2 {
        --font-size: 2.3rem;
    }
}

.text-center {
    text-align:  center;
}

.hero {

    background-image: url(/img/cover.png);
    background-size: cover;
    background-position: bottom left;

    text-align: center;
    
}
@media (min-width: 768px) {
    .hero {
        background-position: bottom;
    }
}

em {
    display: block;
    color: #f0b8de;
    font-family: 'Sacramento', cursive;
    font-size: 250%;
}

@media (min-width: 768px) {
    em {
        font-size: 350%;
    }
    
}

.hero > .hero-content {
    
    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}



.hero > .hero-content img {
    max-width: 90%;
}
@media (min-width: 768px) {
    .hero > .hero-content img {
        max-width: 70%;
    }
}

.hero > .hero-content em {
    color: #fff;
    font-family: 'Sacramento', cursive;
    font-size: 300%;
    font-weight: normal;
    position: relative;
}
@media (min-width: 768px) {
    .hero > .hero-content em {
        font-size: 350%;
    }
}

nav {
    background-color: #ce93e2;
    font-family: 'Bitter', cursive;
    --font-weight: 700;
}

nav ul {
    flex-wrap: wrap;
    --font-size: 60%;
}

@media (min-width: 768px) {
    nav ul {
        flex-wrap: nowrap;
        --font-size: 100%;
    }
}


nav.sticky {
    position: fixed;
    background-color: #ce93e2;
    top: 0;
    box-shadow: 0 0 5px 0 #2c1733;
    z-index: 99;
}

.nav-placeholder {
    display: none;
}

.nav-placeholder.show {
    display: block;
}

body > main {
    margin: 0;
    padding: 0;
}

section {
    margin: 0;
    padding: calc(var(--spacing) * 3) 0;
}


nav ul {
    justify-content: center;

}

@media (min-width: 768px) {
    nav ul li {
        --nav-element-spacing-horizontal: 1.5rem;
    }
}
nav a {
    font-size: 150%;
    text-transform: uppercase;
}

.bg-dark {
    background-color: #4c214f;
}

#events {
    background-color: #b46fcc;
    background-image: url(/img/background.png);
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    color: #fff;

    padding: calc(var(--spacing) * 2) 0;
}

.img-wrap {
    position: relative;
    padding: var(--spacing) 0;
}

.img-wrap img {
    box-shadow: 0 0 10px 0 #4c214f;
}

.text-wrap {
    padding: calc(var(--spacing) * 2) var(--spacing);
}

.text-wrap h4 {
    margin: 0 0 var(--spacing) 0
}

address {
    --color: #fff;
}

#gallery {

}

#gallery .thumb {
    display: block;
    position: relative;
    overflow: hidden;

    height: 200px;
}


@media (min-width: 768px) {
    #gallery .thumb {
        height: 300px;
    }
}

#gallery .thumb img {
    transition: all .3s ease-in-out;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
#gallery .thumb:hover img {
    transform: scale(1.2);
}

#gallery .thumb .thumb-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.3);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gallery .thumb:hover .thumb-overlay {
    opacity: 1;
}

main {
    
    background-color: #ce93e2;
}

[role="button"].round {
    border-radius: 100%;
    margin: 0 var(--spacing);
}